<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link href="{{ SITEURL }}/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/feeds/all.rss.xml" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
</head>

<body id="index" class="home" style="margin: auto;">
    {% include 'github.html' %}
    <header id="banner" class="body">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
        <nav>
            <!-- BOTÃO HAMBÚRGUER FORA DA UL -->
            <button class="menu-toggle" onclick="toggleMenu()">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <!-- SÓ UMA UL COM ID="menu" -->
            <ul id="menu">
            {% for title, url in MENUITEMS %}
                <li {% if page is defined and url == page.url %} class="active" {% endif %}>
                    <a href="{{ SITEURL }}/{{ url }}">{{ title }}</a>
                </li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU != False %}
                {% for p in pages %}
                    <li {% if p == page %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
            {% endif %}
            <li id="posts-link">
                <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Posts</a>
            </li>
            <li>
                <a href="{{ SITEURL }}/feeds/all.atom.xml" title="Assinar RSS">
                    <img src="{{ SITEURL }}/images/rss-icon.png" alt="RSS" style="width:20px;height:20px;vertical-align:middle;">
                </a>
            </li>

            <li style="float: right;">
                <a href="#" id="theme-toggle">
                    🌓
                </a>
            </li>

            {#{% for cat, null in categories %}
                <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}#}
            </ul>
        </nav>
    </header><!-- /#banner -->

    {% block content %}
    {% endblock %}

    <footer id="footer" class="body">
        <p>Feito com amor, por <a href="https://github.com/aninhasalesp"> Ana Paula</a> ❤️</p>
    </footer><!-- /#footer -->

    <script>
        function toggleMenu() {
            const menu = document.getElementById('menu');
            const toggle = document.querySelector('.menu-toggle');

            menu.classList.toggle('active');
            toggle.classList.toggle('active');
        }

        const toggle = document.getElementById("theme-toggle");
        const currentTheme = localStorage.getItem("theme") || "light";

        document.documentElement.setAttribute("data-theme", currentTheme);

        toggle.addEventListener("click", () => {
            const theme = document.documentElement.getAttribute("data-theme") === "light" ? "dark" : "light";
            document.documentElement.setAttribute("data-theme", theme);
            localStorage.setItem("theme", theme);

            const menuToggle = document.querySelector('.menu-toggle');
            if (menuToggle.classList.contains('active')) {
                toggleMenu();
            }
        });


        document.addEventListener('DOMContentLoaded', function() {
            if (window.location.pathname === '/' || window.location.pathname === '/index.html') {
                document.getElementById('posts-link').classList.add('active');
            }
        });
    </script>

    {% include 'analytics.html' %}
</body>
</html>